.button {
    position: absolute;
    width: 178.41px;
    height: 38.84px;
    background: rgba(7, 117, 164, 0.8);   
    box-shadow: 0px 4.8546px 4.8546px rgba(0, 0, 0, 0.25);
    border-radius: 10.9228px;
    font-weight: 600;
    font-size: 18.2047px;
    color: white;
    border: none;
    left: calc(50% - 178.41px/2);
    bottom: -110px; 
}
.button:hover {
    background: rgba(11, 132, 125, 0.8);
}