.container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px; 
    width: 409px;
    height: 280.35px;
    background: linear-gradient(89.52deg,rgba(11, 132, 125, 0.6),rgba(7, 117, 164, 0.6));
    box-shadow: 0px 4.8546px 4.8546px rgba(0, 0, 0, 0.25);
    border-radius: 26.7003px;
}
.container__parameters li {
    list-style-type: none;
    color:#d8e4f1;
    margin-left: 10px;
}
.container__country { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #75edff;
    font-size: 13px;
    padding-top: 20px;
    margin-left: 10px;
}
.container__country h2 {
    font-weight: 400;
    padding-left: 40px;
}
.container__icon {
    position: absolute;
    width: 320px;
    height: 320px;
    top: -90px;
    right: -45px;
}
.container__icon img {
    width: 100%;
}
.container__celcius {
    font-weight: 400;
    font-size: 95px;
    /* width: 151px;
    height: 115px; */
    color: #ffffff;
    margin-block-start: 0;
}
.app__background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 0;
    left: 0; */
}
.app__background img {
    height: 100%;
    width: 100%; 
    opacity: 0.5;
}
.app__title {
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 30px;
    left: 20%;
    top: 45px;
}
.app__form {
    display: flex;
    gap: 5px;
    justify-content: center;
    position: absolute;
    top: -100px;
    left: calc(50% - 185px/2);
}
.app__form__input {
    outline: none;
    width: 180px;
    height: 25px;
    color: black;
    text-align: center;
    border-radius: 10px;
    border: none;
}
.app__form__submit {
    width: 50px;
    border-radius: 10px;
    border: none;
    color:white;
    background: rgba(7, 117, 164, 0.6);
}
@media (max-width: 992px) {
    .app__title {
        left: 8%;
    }
}
@media (max-width: 768px){
    .app__title {
        left: 5%;
    }
}
@media (max-width: 576px) {
    .container {
        width: 348px;
        height: 230px;
    }
    .app__title {
        left: 5%;
        top: 30px;
    }
    .container__icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        height: 250px;
        top: -80px;
        right: -5px;
        overflow: hidden;
    }
    .container__icon img {
        width: 280px;
        height: 280px;
    }
    
    .container__parameters li {
        font-size: 11px;
    }
    .container__country { 
        font-size: 10px;
    }
    .container__celcius {
        font-size: 75px;
    }
}